@import "themes";

.app {
    // position: absolute;

    &__wrapper1 {
        @extend %primary-border-style;
        position: absolute;
    }
    &__wrapper2 {
        @extend %primary-border-style;
        position: absolute;
    }
    &__wrapper3 {
        @extend %primary-border-style;
        position: absolute;
    }
    &__wordpad {
        width: 500px;
        height: 400px;
        top: 25vh;
        left: 50vw;
    }
    &__solitaire {
        width: 700px;
        height: 500px;
        top: 5vh;
        left: 20vw;
    }
    &__network {
        width: 550px;
        height: 220px;
        top: 30vh;
        left: 30vw;
    }
    &__title-bar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
        background-color: $secondary-colour;
        padding: 3px;
    }

    &__title-bar-img {
        width: 20px;
        height: 20px;
    }
    &__close-wordpad {
        @extend %cross-styling;
    }
    &__close-solitaire {
        @extend %cross-styling;
    }
    &__close-network {
        @extend %cross-styling;
    }
    &__subtitle-bar {
        display: flex;
        background-color: $primary-colour;
        color: black;
        padding: 3px;
    }
    &__menu {
        padding: 5px;
        &:hover {
            background-color: $secondary-colour;
            color: white;
        }
    }
    &__content {
        background-color: $primary-colour;
        font-weight: 400; //doesn't work
        display: flex;
    }
    &__textarea {
        width: 500px;
        height: 340px;
    }
    &__solitaire-img {
        width: 695px;
        height: 443px;
    }
    &__network-img {
        width: 50px;
        height: 50px;
        padding: 20px;
    }
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;
}
.form-instructions {
    padding: 10px;
    margin-bottom: 10px;
}
.form {
    display: flex;
    flex-direction: column;
    &__input-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
}
.button {
    background-color: $primary-colour;
    width: 100px;
    padding: 1px 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
