$primary-colour: rgb(192, 192, 192);
$secondary-colour: rgb(0, 0, 128);
$tertiary-colour: rgb(129, 130, 132);
$default-font: Arial, Helvetica, sans-serif;

%cross-styling {
    background-color: $primary-colour;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
}

%primary-border-style {
    border: 3px solid $primary-colour;
}

* {
    padding: 0;
    margin: 0;
    font-family: $default-font;
    font-weight: bold;
    font-size: 13px;
}

body {
    background-image: url("./assets/desktop-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.desktop-icons {
    display: flex;
    flex-direction: column;
    padding: 5vw;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 4vw;
        margin: 2vw 0;
    }

    &__txt {
        color: white;
        text-shadow: 0 0 5px black;
    }
}

.app {
    position: absolute;

    &__wrapper1 {
        @extend %primary-border-style;
    }
    &__wrapper2 {
        @extend %primary-border-style;
    }
    &__wrapper3 {
        @extend %primary-border-style;
    }
    &__wordpad {
        width: 500px;
        height: 400px;
        top: 25vh;
        left: 50vw;
    }
    &__solitaire {
        width: 700px;
        height: 500px;
        top: 5vh;
        left: 20vw;
    }
    &__network {
        width: 550px;
        height: 220px;
        top: 30vh;
        left: 30vw;
    }
    &__title-bar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
        background-color: $secondary-colour;
        padding: 3px;
    }

    &__title-bar-img {
        width: 20px;
        height: 20px;
    }
    &__close-wordpad {
        @extend %cross-styling;
    }
    &__close-solitaire {
        @extend %cross-styling;
    }
    &__close-network {
        @extend %cross-styling;
    }
    &__subtitle-bar {
        display: flex;
        background-color: $primary-colour;
        color: black;
        padding: 3px;
    }
    &__menu {
        padding: 5px;
        &:hover {
            background-color: $secondary-colour;
            color: white;
        }
    }
    &__content {
        background-color: $primary-colour;
        font-weight: 400; //doesn't work
        display: flex;
    }
    &__textarea {
        width: 500px;
        height: 340px;
    }
    &__solitaire-img {
        width: 700px;
        height: 443px;
    }
    &__network-img {
        width: 50px;
        height: 50px;
        padding: 20px;
    }
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;
}
.form-instructions {
    padding: 10px;
    margin-bottom: 10px;
}
.form {
    display: flex;
    flex-direction: column;
    &__input-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
}
.button {
    background-color: $primary-colour;
    width: 100px;
    padding: 1px 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.start-menu-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.start-btn {
    display: flex;
    align-items: center;
    background-color: $primary-colour;
    padding: 0 1vw;
    height: 50px;
    margin-left: 1px;
    position: fixed;
    bottom: 0;
}

.start-menu-sidebar {
    display: none;
    position: absolute;
    left: -197px;
    bottom: 248px;
    margin-left: 1px;
    transform: rotate(270deg);
    color: $primary-colour;
    background-color: $tertiary-colour;
    padding: 5px;
    width: 423px;
    &__text {
        font-size: x-large;
        text-align: left;
    }
}
.start-menu {
    display: none;
    position: absolute;
    bottom: 50px;
    margin-left: 40px;
    background-color: $primary-colour;
    &__item {
        display: flex;
        align-items: center;
        border: 1px solid black;
        height: 50px;
        padding: 5px;
        padding-right: 70px;
        &:hover {
            background-color: $secondary-colour;
            color: white;
        }
    }
    &__arrow {
        position: absolute;
        right: 0;
        margin-right: 5px;
    }
}

.start-menu-show {
    display: grid;
}

.start-menu-sidebar-show {
    display: grid;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: $primary-colour;
    height: 50px;
    display: flex;
    align-items: center;
}

.current-date {
    padding-right: 1%;
    position: fixed;
    right: 0;
}
