.start-menu-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.start-btn {
  display: flex;
  align-items: center;
  background-color: rgb(192, 192, 192);
  padding: 0 1vw;
  height: 50px;
  margin-left: 1px;
  position: fixed;
  bottom: 0;
}

.start-menu-sidebar {
  display: none;
  position: absolute;
  left: -190px;
  bottom: 240px;
  transform: rotate(-0.25turn);
  color: rgb(192, 192, 192);
  background-color: rgb(129, 130, 132);
  border: 2px solid rgb(192, 192, 192);
  padding: 5px;
  width: 410px;
}
.start-menu-sidebar__text {
  font-size: x-large;
  text-align: left;
}

.start-menu {
  display: none;
  position: absolute;
  bottom: 50px;
  margin-left: 40px;
  background-color: rgb(192, 192, 192);
  border: 2px solid rgb(129, 130, 132);
}
.start-menu__item {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px;
  padding-right: 70px;
}
.start-menu__item:nth-last-of-type(1) {
  border-top: 1px solid rgb(129, 130, 132);
}
.start-menu__item:hover {
  background-color: rgb(0, 0, 128);
  color: white;
}
.start-menu__arrow {
  position: absolute;
  right: 0;
  margin-right: 5px;
}

#nine-five {
  color: white;
  font-size: x-large;
}

.start-menu-show {
  display: grid;
}

.start-menu-sidebar-show {
  display: flex;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgb(192, 192, 192);
  height: 50px;
  display: flex;
  align-items: center;
}

.current-date {
  padding-right: 1%;
  position: fixed;
  right: 0;
}

.app__close-network, .app__close-solitaire, .app__close-wordpad {
  background-color: rgb(192, 192, 192);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
}

.app__wrapper3, .app__wrapper2, .app__wrapper1 {
  border: 3px solid rgb(192, 192, 192);
}

.app {
  position: absolute;
}
.app__wordpad {
  width: 500px;
  height: 400px;
  top: 25vh;
  left: 50vw;
}
.app__solitaire {
  width: 700px;
  height: 500px;
  top: 5vh;
  left: 20vw;
}
.app__network {
  width: 550px;
  height: 220px;
  top: 30vh;
  left: 30vw;
}
.app__title-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: rgb(0, 0, 128);
  padding: 3px;
}
.app__title-bar-img {
  width: 20px;
  height: 20px;
}
.app__subtitle-bar {
  display: flex;
  background-color: rgb(192, 192, 192);
  color: black;
  padding: 3px;
}
.app__menu {
  padding: 5px;
}
.app__menu:hover {
  background-color: rgb(0, 0, 128);
  color: white;
}
.app__content {
  background-color: rgb(192, 192, 192);
  font-weight: 400;
  display: flex;
}
.app__textarea {
  width: 500px;
  height: 340px;
}
.app__solitaire-img {
  width: 695px;
  height: 443px;
}
.app__network-img {
  width: 50px;
  height: 50px;
  padding: 20px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
}

.form-instructions {
  padding: 10px;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__input-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.button {
  background-color: rgb(192, 192, 192);
  width: 100px;
  padding: 1px 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
}

body {
  background-image: url("./assets/desktop-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.desktop-icons {
  display: flex;
  flex-direction: column;
  padding: 5vw;
}
.desktop-icons__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4vw;
  margin: 2vw 0;
}
.desktop-icons__txt {
  color: white;
  text-shadow: 0 0 5px black;
}
