* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
}

body {
  background-image: url("./assets/desktop-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.desktop-icons {
  display: grid;
  grid-gap: 3vw;
  padding: 2vw;
}

.start-menu-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.start-btn {
  display: flex;
  align-items: center;
  background-color: rgb(192, 192, 192);
  padding: 0 1vw;
  height: 3vw;
  margin-left: 1px;
  position: fixed;
  bottom: 0;
}

.start-menu {
  display: none;
  position: absolute;
  bottom: 3vw;
  margin-left: 1px;
  background-color: rgb(192, 192, 192);
}
.start-menu__item {
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 3vw;
  padding: 5px;
  padding-right: 70px;
}
.start-menu__item:hover {
  background-color: rgb(0, 0, 128);
  color: white;
}
.start-menu__arrow {
  position: absolute;
  right: 0;
  margin-right: 5px;
}

.start-menu-show {
  display: grid;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgb(192, 192, 192);
  height: 3vw;
  display: flex;
  align-items: center;
}

.current-date {
  padding-right: 1%;
  position: fixed;
  right: 0;
}
