$primary-colour: rgb(192, 192, 192);
$secondary-colour: rgb(0, 0, 128);
$default-font: Arial, Helvetica, sans-serif;

* {
    padding: 0;
    margin: 0;
    font-family: $default-font;
    font-weight: bold;
    font-size: 13px;
}

body {
    background-image: url("./assets/desktop-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.desktop-icons {
    display: flex;
    flex-direction: column;
    padding: 5vw;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 4vw;
        margin: 2vw 0;
    }

    &__txt {
        color: white;
        text-shadow: 0 0 5px black;
    }
}

.border {
    // border: 3px solid $primary-colour;
}
.app {
    position: absolute;
    border: 3px solid $primary-colour;
    &__wordpad {
        width: 40vw;
        height: 49vh;
        top: 25vh;
        left: 50vw;
    }
    &__solitaire {
        width: 60vw;
        height: 81vh;
        top: 10vh;
        left: 20vw;
    }
    &__title-bar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
        background-color: $secondary-colour;
        padding: 3px;
    }

    &__title-bar-img {
        width: 20px;
        height: 20px;
    }
    &__close-window {
        background-color: $primary-colour;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 3px;
    }
    &__subtitle-bar {
        display: flex;
        background-color: $primary-colour;
        color: black;
        padding: 3px;
    }
    &__menu {
        padding: 5px;
        &:hover {
            background-color: $secondary-colour;
            color: white;
        }
    }
    &__textarea {
        //cant style yet
        width: 40vw;
        height: 40vh;
    }
    &__solitaire-img {
        width: 60vw;
        height: 75vh;
    }
}

.start-menu-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.start-btn {
    display: flex;
    align-items: center;
    background-color: $primary-colour;
    padding: 0 1vw;
    height: 3vw;
    margin-left: 1px;
    position: fixed;
    bottom: 0;
}

.start-menu {
    display: none;
    position: absolute;
    bottom: 3vw;
    margin-left: 1px;
    background-color: $primary-colour;
    &__item {
        display: flex;
        align-items: center;
        border: 1px solid black;
        height: 3vw;
        padding: 5px;
        padding-right: 70px;
        &:hover {
            background-color: $secondary-colour;
            color: white;
        }
    }
    &__arrow {
        position: absolute;
        right: 0;
        margin-right: 5px;
    }
}

.start-menu-show {
    display: grid;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: $primary-colour;
    height: 3vw;
    display: flex;
    align-items: center;
}

.current-date {
    padding-right: 1%;
    position: fixed;
    right: 0;
}
